---
import Posts from "@/components/Posts.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base>
  <section class="section">
    <div class="container text-center  py-32">
      <div class="row">
      <div class="col-12 sm:col-7">
        <h1>STORY</h1>
      </div>
      
      <div class="col-12 sm:col-5">
        <h1>Welcome to STORY</h1>
        <p class="py-4">The STORY Consortium is committed to empowering rural & small-town students – and the communities that support them – by preparing them for the college search and application process, with an aim of expanding access to higher education.</p>
        <button class="btn btn-primary mt-2">
          Learn More
        </button>
      </div>
    </div>
    </div>
  </section>
  <section class="section bg-gray-100">
    <div class="container  py-16 ">
      <div class="row">
      <div class="col-12 sm:col-5">
        <h2>Meet Our Partners</h2>
      </div>
      
      <div class="col-12 sm:col-7">
        <p class="">The STORY Consortium is committed to empowering rural & small-town students – and the communities that support them – by preparing them for the college search and application process, with an aim of expanding access to higher education.</p>
        <button class="btn btn-primary mt-2">
          Learn More
        </button>
      </div>
    </div>
    </div>
    </section>
    <section class="section">
    <div class="container">
      <Posts posts={currentPosts} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
